{% extends 'base.html' %}
{% load custom_markdown %}

{% block content %}
  <div class="blog-post">
    <h2 class="blog-post-title">{{ post.title }}</h2>
    <p class="blog-post-meta">{{ post.date_time|date:"Y /m /d" }}
      <a href="{% url 'search_tag' tag=post.tag.category %}">{{ post.tag.category|title }}</a>
    </p>
    <div>
      <p>{{ post.content|custom_markdown }}</p>
    </div>
  </div><!-- /.blog-post -->
{% endblock %}
{% block footer_nav %}
  <div class="pager">
  </div>
  {% include 'duoshuo.html' %}
{% endblock %}
